<h1><strong>Home Page</strong></h1>
<p>This is the Home page of the Rental System</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
			  	<ol class="carousel-indicators">
			    	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  	</ol>

			  	<!-- Wrapper for slides -->
			  	<div class="carousel-inner" role="listbox">
			    	<div class="item active">
			      		<%= image_tag("http://placehold.it/1920x780") %>
			      		<div class="carousel-caption">
			        		This is a caption
			      		</div>
			    	</div>
			    	<div class="item">
			      		<%= image_tag("http://placehold.it/1920x780") %>
			      		<div class="carousel-caption">
			        		This is a caption
			      		</div>
			    	</div>
			    	<div class="item">
			      		<%= image_tag("http://placehold.it/1920x780") %>
			      		<div class="carousel-caption">
			        		This is a caption
			      		</div>
			    	</div>
			  	</div>

			  	<!-- Controls -->
			  	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h1>View Inventory</h1>
		</div>
		<div class="col-md-4">
			<h1>Make a Reservation</h1>
		</div>
		<div class="col-md-4">
			<h1>FAQ</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel porta lacus, eu aliquam leo. Cras at dui non nibh egestas pretium ut sit amet elit. Suspendisse eget pulvinar neque. In placerat laoreet ex ut iaculis. Vestibulum auctor, massa ut venenatis ullamcorper, ante ligula laoreet sem, non varius risus neque sit amet mi. Pellentesque sem lectus, aliquet vehicula tempus et, fermentum eu turpis. Nunc elit elit, ultricies vitae felis nec, cursus lacinia diam. Duis ac rhoncus mi, nec commodo dolor. Aliquam tristique et mauris ut scelerisque. Aenean mollis nunc id fringilla posuere. In imperdiet aliquam risus, non auctor lectus molestie eget. Ut ac mauris ornare, ultrices mauris vitae, ornare diam. Sed rhoncus magna sit amet nisi malesuada, in pulvinar libero congue.</p>

			<p>Vestibulum mattis imperdiet orci in sollicitudin. Phasellus placerat vel augue eu cursus. Suspendisse non pellentesque ipsum. Etiam iaculis odio nisl, vel eleifend erat fringilla ac. Nullam fermentum ultricies mauris eu dignissim. Proin accumsan lacinia sapien, et rhoncus leo ultricies at. Cras vitae mattis neque. Sed non dolor tellus. Maecenas volutpat tempus accumsan. Vivamus vulputate lectus dui, et posuere metus pretium eu. Maecenas in est porta, mattis metus et, semper metus. Etiam sollicitudin nisi in mattis ultrices. Quisque sagittis congue turpis at venenatis. Donec sodales pellentesque cursus. Nam facilisis lectus non hendrerit sollicitudin. Nullam ut orci consectetur, scelerisque nibh non, commodo lectus.</p>

			<p>Mauris ac varius ipsum. Morbi fermentum bibendum nulla, in fermentum lacus posuere malesuada. Ut orci erat, facilisis nec lorem non, efficitur lobortis est. Nulla convallis scelerisque risus at lobortis. Morbi auctor vestibulum purus, nec rutrum nibh tempor id. Praesent id nibh at tellus sagittis mattis. Etiam commodo metus non justo semper sollicitudin. Suspendisse ante elit, laoreet et justo in, egestas iaculis eros. Sed cursus rutrum arcu eu fermentum.</p>

			<p>Donec luctus convallis malesuada. Phasellus at tortor porta orci dictum vehicula id in massa. Integer nec erat sit amet mauris scelerisque dictum. Duis sodales pharetra risus, in lacinia leo consectetur a. Aliquam euismod mauris sed risus suscipit, eget luctus nibh feugiat. Donec faucibus sit amet risus quis tincidunt. Mauris pharetra faucibus urna non tristique. Quisque mauris erat, commodo a malesuada ac, rutrum at ex. Proin convallis efficitur ligula ac mattis. Aliquam ac lorem massa. Suspendisse non pharetra sem. Sed nec hendrerit felis, lobortis hendrerit eros. In feugiat ullamcorper sem. Aenean auctor velit mattis vestibulum suscipit.</p>

			<p>Maecenas luctus elit eu scelerisque fringilla. Fusce commodo dolor vel metus feugiat, ut imperdiet lorem maximus. Cras et sollicitudin orci. Cras varius ligula eget nulla pulvinar, a molestie nisl rutrum. Aliquam vulputate, nibh vel consectetur pulvinar, mi diam euismod nibh, at fringilla mi leo eu nunc. Aliquam erat volutpat. Ut tincidunt auctor interdum. Morbi in turpis consequat libero porta ornare. In quam sapien, condimentum ut ante in, iaculis interdum magna. Duis dictum risus felis, ac interdum tellus aliquam sit amet. Sed orci tellus, vulputate vitae purus eu, euismod laoreet elit.</p>
		</div>
	</div>
</div>
