<div class="row" id="footer">
	<div class="col-md-12">
		<footer class="navbar">
    		<div class="container">
      			<ul class="nav navbar-nav">
      				<li><%= link_to "Home", "/" %></li>
              <li><%= link_to "Admin", "/admin/index" %></li>
              <li><%= link_to "Manage Products", "/products" %></li>
      			</ul>
    		</div>
  		</footer>
	</div>
</div>