<div class="row" id="header">
	<div class="col-md-12">
		<nav class="navbar-inverse navbar-fixed-top" id="navigation">
			<a class="navbar-brand" href="/">
				<%= image_tag("http://placehold.it/50x50") %>      					
			</a>
			<ul class="nav navbar-nav" id="main-nav">
				<li><%= link_to "Home", "/" %></li>
				<li><%= link_to "Inventory", "/inventory/index" %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<button type="button" class="btn btn-default">
						<%= link_to "Log In", "/admin/index" %>
				</button>
			</ul>
		</nav>
	</div>
</div>